In [2]:
# Exercise 2 - # Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 - Create a markdown

In this notebook, Data Science Tools and Ecosystems are summarized

In [ ]:
# Exercise 10 - Objectives: in bold font. Unordered list indicate 3 to 5 items covered.

***Objectives***:

* Discover patters in data
* Exploring and visualizing data
* Analyzing the data and/or applying machine learning to the data

In [ ]:
# Exercise 4 - Some of the popular languages that Data Scientists use are:
1. C++
2. Java-ML
3. Python
4. R

Some of the popular languages that Data Scientists use are:
1. C++
2. Java-ML
3. Python
4. R

In [ ]:
# Exercise 5 - Some of the commently used libraries ysed by Data Scientists include:
1.ggplt
2.NumPy
3.Pandas

Some of the commently used libraries ysed by Data Scientists include: 
1. ggplt2
2. NumPy
3. Pandas

In [ ]:
# Exercise 6 - Create markdown table

| Data Science Tools |
| -------------|
| 1.Python |
| 2.Pandas |
| 3.Jupyter Notebooks |

| Data Science Tools|
| ----------|
| Python           |
| Pandas           |
| Jupyter Notebooks|

In [ ]:
# Exercise 7 - ### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expression examples.

In [ ]:
# Exercise 8 - This a simple arithmetic expression to multiply then add intergers.

This a simple arithmetic expression to multiply then add intergers.

In [7]:
(3*4)+5

17

In [ ]:
# Exercise 9 - This will covert 200 minutes to hours by diving by 60.

This will covert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

In [ ]:
# Exercise 11 - Author in H2 style heading

## Author

Kathy Rodriguez